---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

// 覆盖主题默认字体大小
$base-font-size: 20px;
$min-font-size: 20px;
$max-font-size: 22px;

@import "so-simple";